body {
    margin: 0;
}

.menu-bar {
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: top 400ms ease-in-out;
}

.menu-bar .start {
    text-decoration: none;
}

.body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.about-me {
    margin-top: 5rem;
}

.about-lessons {
    width: 100%
}

.section {
    padding: 2rem;
}

.desc {
    padding: 0 1rem
}

.desc p {
    line-height: 2;
}

.card .content {
    height: 16rem
}

.card .title {
    height: 4rem
}

.card .subtitle {
    height: 2rem
}

.card p {
    line-height: 1.5;
}

.icons {
    width: 5rem;
}
